---
layout: default
title: "momomori-eki.net :: garden"
permalink: garden/
---
<h1>Garden</h1>

<h2>Blog Posts</h2>
<ul>
    {% for post in site.posts %}
    <li>
        <h3><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date_to_string }}</a></h2>
    </li>
    {% endfor %}
</ul>

<h2>Thoughts On Stuff I've Read or Am Currently Reading</h2>
<ul>
    {% for reading_thoughts in site.reading_thoughts %}
    <li>
        <h3><a href="{{ reading_thoughts.url }}">{{ reading_thoughts.title }}</a></h3>
    </li>
    {% endfor %}
</ul>