---
layout: page
title: Japanese Readers Series 5 - Doushite Meyani ga Deru no
permalink: /language/japanese-readers/5/doushite-meyani-ga-deru-no/
tags: japanesereaders intermediate など volition の に pasttense には adjectivalnounphrases を relativeclauseの がある・があります は てform defininganddescribing 〜て行く・〜て来る この・その・あの 〜てある conditionals 〜ことができる のような というわけ が んです passiveforms へ adjectives あまり である compoundsentences givingreceivingverbs nominalizers
---
<h2>Intro</h2>
<p>For background/how to use this series, see the <a href="/language/japanese-readers/1/yuurei-no-sodekake/">first post</a>.</p>

Here's a semi-short thing from a kids' website. I'm trying to find some more beginner-friendly reading selections, since new learners usually get stuck with really boring materials. I marked this one as "intermediate" because it has some low-frequency vocab and a couple of more advanced grammar points, but I encourage beginners to jump right in and engage even if this one seems a bit out of reach. It has a lot of juicy grammar in such a small excerpt!

<h2>Text Link</h2>
<a href="https://kids.gakken.co.jp/kagaku/kagaku110/science0100/">どうして目やにがでるの</a>

<h2>Vocabulary List</h2>
<table>
    <caption class="hidden">
    Vocab List
    </caption>
    <thead>
      <tr>
        <th scope="col">
          Kanji
        </th>
        <th scope="col">
          Reading
        </th>
        <th scope="col">
          English Gloss
        </th>
        <th scope="col">
          Frequency
        </th>
        <th scope="col">
          Notes
        </th>
        </thead>
        <tbody>
        {% for item in site.data.jreaders.jreader5 %}
        {% if item.frequency > 50 %}
        <tr class="high-frequency">
        {% elsif 10 <= item.frequency <= 50 %}
        <tr class="mid-frequency">
        {% elsif 1 < item.frequency < 10 %}
        <tr class="low-frequency">
        {% elsif 0 < item.frequency < 1 %}
        <tr class="very-low-frequency">
        {% else %}
        <tr class="not-applicable">
        {% endif %}
          <td>
            {{ item.kanji }}
          </td>
          <td>
            {{ item.reading }}
          </td>
          <td>
            {{ item.english }}
          </td>
          <td>
            {{ item.frequency }}
          </td>
          <td>
            {{ item.notes }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

<h2>Grammar List</h2>
<ul>
  <li><a href="http://www.jgram.org/pages/viewOne.php?tagE=nado">など</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/complete/desire_volition">volition</a></li>
  <li><a href="http://www.guidetojapanese.org/particles3.html">の</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">に</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/past_tense">past tense</a></li>
  <li><a href="https://www.wasabi-jpn.com/japanese-grammar/combined-particles/">には</a></li>
  <li><a href="https://www.wasabi-jpn.com/japanese-grammar/advanced-adjectives-noun-phrases-particular-particles/">adjectival noun phrases</a></li>
  <li><a href="https://www.punipunijapan.com/grammar-lesson-7-particle-%E3%82%92-o/">を</a></li>
  <li><a href="https://japanese.stackexchange.com/questions/12825/how-does-the-%e3%81%ae-work-in-%e6%97%a5%e6%9c%ac%e4%ba%ba%e3%81%ae%e7%9f%a5%e3%82%89%e3%81%aa%e3%81%84%e6%97%a5%e6%9c%ac%e8%aa%9e">relative clause の</a></li>
  <li><a href="https://learnjapanesedaily.com/japanese-grammar-%E3%81%8C%E3%81%82%E3%82%8A%E3%81%BE%E3%81%99-gaarimasu.html">がある・があります</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">は</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/teform">てform</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/define">という</a></li>
  <li><a href="http://maggiesensei.com/2010/03/13/requested-lesson-%E3%80%8C%E3%80%9C%E3%81%A6%E3%81%84%E3%81%8F%EF%BC%8B%E3%80%9C%E3%81%A6%E3%81%8F%E3%82%8B%E3%80%8Dteiku-tekuru/">〜て行く、〜て来る</a></li>
  <li><a href="https://learnjapanesedaily.com/japanese-grammar-%E3%81%93%E3%81%AE%EF%BC%8F%E3%81%9D%E3%81%AE%EF%BC%8F%E3%81%82%E3%81%AE-kono-sono-ano.html">この・その・あの</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/teform#Using_for_resultant_states">〜てある</a></li>
  <li><a href="https://www.wasabi-jpn.com/japanese-grammar/how-conditionals-work/">conditionals</a></li>
  <li><a href="http://maggiesensei.com/2015/04/02/how-to-use-%E5%87%BA%E6%9D%A5%E3%82%8B-%E3%81%A7%E3%81%8D%E3%82%8B-dekiru/">〜ことができる</a></li>
  <li><a href="http://maggiesensei.com/2012/04/03/request-lesson-%E3%82%88%E3%81%86you/">のような</a></li>
  <li><a href="https://learnjapanesedaily.com/japanese-grammar-%E3%81%A8%E3%81%84%E3%81%86%E3%82%8F%E3%81%91%E3%81%A0-toiuwakeda.html">というわけ</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">が</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/define">defining and describing</a></li>
  <li><a href="http://maggiesensei.com/2010/09/08/request-lesson-when-and-how-to-use-%E3%82%93n-%E3%81%AE%E3%81%A7%E3%81%99%E2%86%92%E3%82%93%E3%81%A7%E3%81%99%EF%BC%89/">んです</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/causepass">passive forms</a></li>
  <li><a href="https://www.punipunijapan.com/japanese-particle-ni-e/">へ</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/adjectives">adjectives</a></li>
  <li><a href="https://www.kanshudo.com/grammar/%E3%81%82%E3%81%BE%E3%82%8A">あまり</a></li>
  <li><a href="http://www.guidetojapanese.org/formal.html#part2">である</a></li>
  <li><a href="http://www.guidetojapanese.org/learn/grammar/compound">compound sentences</a></li>
  <li><a href="http://www.guidetojapanese.org/favor.html">giving/receiving verbs</a></li>
  <li><a href="https://www.wasabi-jpn.com/japanese-grammar/nominalizers-koto-and-no/">nominalizers</a></li>
  </ul>


<h2>Translation</h2>
<h3>Why Does Eye Mucus Exist?</h3>
<p>
Image upper left: Always clean<br>
Image upper right: lachrymal gland<br>
Person cleaning: Let's wash out all that dust and other stuff!<br>
Image bottom left: Eye mucus (dust)<br>
</p>
<p>
Where your eye curves inward, there's an area that expresses an oily, sticky kind of liquid.
</p>
<p>
This liquid is always coming out a little bit at a time. Behind your eyelids expands what's called the "conjunctiva." When the back of your eyelid is coated with this liquid and then you blink, it makes it so your eyelid can move smoothly. In other words, it's much like the oil used to lubricate machinery. This sticky liquid that builds up in your eye and gets washed away by tears is called eye mucus.
</p>
<p>
To Household Members:
</p>
<p>
Healthy people do not produce much eye mucus. If you have quite a bit of eye mucus coming out, it could be a sign of infection, so we recommend that you see an eye doctor.
</p>
