---
---
@import "{{ site.theme }}";

.high-frequency {
	background-color: #d8ffee;
}

.mid-frequency {
	background-color: #ffffdf;
}

.low-frequency {
	background-color: #ffebce;
}

.very-low-frequency {
	background-color: #ffe7eb;
}

.hidden {
	display: none;
}
