---
---
@import "{{ site.theme }}";

.high-frequency {
	background-color: #d8ffee;
}

.mid-frequency {
	background-color: #ffffdf;
}

.low-frequency {
	background-color: #ffebce;
}

.very-low-frequency {
	background-color: #ffe7eb;
}

.not-applicable {
	background-color: #f9f9f9;
}

.hidden {
	display: none;
}

.tags {
	font-size: 0.75em;
	color: #44b7e3;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 0.3em;
	border-color: #b1b1b1;
	padding: 0.3em;
	background-color: #f9f9f9;
}

.tag-title {
	font-size: 0.75em;
	color: #b1b1b1;
}
