---
layout: post
title: Japanese Readers Series Shorties 2 - Kuromassan @ Participating in Aru Toshokan nite 13 Club 
tags: japanesereaders shorties twitter intermediate の で non-question marker か が に conditionals という pasttense べき て初めて basictobeverbs defininganddescribing theexplainingの pasttense事がある は potentialforms を くらい nominalizers otherusesofよう
---

<h1>Japanese Readers Series Shorties 2 - Kuromassan @ Participating in Aru Toshokan nite 13 Club</h1>

<h2>Intro</h2>

<p>For background/how to use this series, see the <a href="2019/09/16/yuurei-no-sodekake.html">first post</a>.</p>

<p>I'm working on a couple of longer pieces right now, but wanted to get something up in the meantime to keep the momentum going. Here's a tweet I came across the other day and liked.</p>

<h2>Text Link</h2>
{% twitter https://twitter.com/kkrrmmttssuu/status/1180788816476401664?s=21 %}

<h2>Vocab List</h2>
<table>
    <caption class="hidden">
    Vocab List
    </caption>
    <thead>
      <tr>
        <th scope="col">
          Kanji
        </th>
        <th scope="col">
          Reading
        </th>
        <th scope="col">
          English Gloss
        </th>
        <th scope="col">
          Frequency
        </th>
        <th scope="col">
          Notes
        </th>
        </thead>
        <tbody>
        {% for item in site.data.jreaders.jreader4 %}
        {% if item.frequency > 50 %}
        <tr class="high-frequency">
        {% elsif 10 <= item.frequency <= 50 %}
        <tr class="mid-frequency">
        {% elsif 1 < item.frequency < 10 %}
        <tr class="low-frequency">
        {% elsif 0 < item.frequency < 1 %}
        <tr class="very-low-frequency">
        {% else %}
        <tr class="not-applicable">
        {% endif %}
          <td>
            {{ item.kanji }}
          </td>
          <td>
            {{ item.reading }}
          </td>
          <td>
            {{ item.english }}
          </td>
          <td>
            {{ item.frequency }}
          </td>
          <td>
            {{ item.notes }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

<h2>Grammar List</h2>
<ul>
<li><a href="http://www.guidetojapanese.org/particles3.html">の</a></li>
<li><a href="http://www.punipunijapan.com/japanese-particle-de/">で</a></li>
<li><a href="https://www.japaneseammo.com/all-about-%E3%81%8B-its-not-only-a-question-marker/">non-question marker か</a></li>
<li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">が</a></li>
<li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">に</a></li>
<li><a href="https://www.wasabi-jpn.com/japanese-grammar/how-conditionals-work/">conditionals</a></li>
<li><a href="http://maggiesensei.com/2010/04/24/request-lesson-%E3%81%A8%E3%81%84%E3%81%86toiu-%E3%81%A8%E3%81%84%E3%81%86%E3%81%93%E3%81%A8%EF%BC%88toiukoto-and-many-more/">という</a></li>
<li><a href="http://www.guidetojapanese.org/learn/grammar/past_tense">past tense</a></li>
<li><a href="http://www.guidetojapanese.org/learn/grammar/should">べき</a></li>
<li><a href="https://japanesetest4you.com/flashcard/learn-jlpt-n3-grammar-%E3%81%A6%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6-te-hajimete/">て初めて</a></li>
<li><a href="https://japanesemeow.com/japanese-grammar-lessons/arimasu-and-imasu/">basic "to be" verbs</a></li>
<li><a href="http://www.guidetojapanese.org/learn/grammar/define">defining and describing</a></li>
<li><a href="http://www.guidetojapanese.org/blog/2011/07/27/explaining-the-explaining-%E3%81%AE/">the explaining の</a> (<a href="http://maggiesensei.com/2010/09/08/request-lesson-when-and-how-to-use-%E3%82%93n-%E3%81%AE%E3%81%A7%E3%81%99%E2%86%92%E3%82%93%E3%81%A7%E3%81%99%EF%BC%89/">see also</a>)</li>
<li><a href="http://maggiesensei.com/2013/12/16/verb-past-tense-%E3%80%9C%E3%81%9F-%E3%81%93%E3%81%A8%E3%81%8C%E3%81%82%E3%82%8B-ta-koto-ga-aru/">past tense + 事がある</a></li>
<li><a href=http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">は</a></li>
<li><a href="http://www.guidetojapanese.org/learn/grammar/potential">potential forms</a></li>
<li><a href="http://www.punipunijapan.com/grammar-lesson-7-particle-%E3%82%92-o/">を</a></li>
<li><a href="http://maggiesensei.com/2011/01/26/request-lesson-%E4%BD%8D-%E3%81%8F%E3%82%89%E3%81%84%EF%BC%8F%E3%81%90%E3%82%89%E3%81%84-kuraigurai/">くらい</a></li>
<li><a href="https://www.wasabi-jpn.com/japanese-grammar/nominalizers-koto-and-no/">nominalizers</a></li>
<li><a href="http://maggiesensei.com/2012/04/03/request-lesson-%E3%82%88%E3%81%86you/">other uses of よう (as/like)</a></li>
</ul>

<h2>Translation</h2>
<p>Kuromassan @ Participating in Aru Toshokan nite 13 Club</p>

<p>(Aru Toshokan nite looks like a <a href="https://www.akaboo.jp/event/item/20190287.html">doujinshi event of some kind</a>)</p>

<p>I once read a tweet that said, "When novels are all the rage among the common people, the murder rate decreases. It's surprising to hear, but there were many people who realized that people other than themselves had feelings only after reading a novel for the first time. If you didn't understand 100% of humanity before, novels, movies, manga, and anime can help you understand 30%.</p>