---
layout: post
title: Japanese Readers Series 1 - Yuurei no Sodekake
tags: japanesereaders fairytales てform 〜とするか 〜とする pasttense conditionals specialnegative 〜わけにもいかない givingreceivingverbs 〜でもある certaintyconstructions expressingdesires honorifics requests 〜ことになる 〜が為 potentialforms ながら 〜て行く 〜て来る 〜ておく passiveforms 〜様になる intermediate
---
<h1>Japanese Readers Series #1: Yuurei no Sodekake</h1>
<h2>Background/Intro</h2>
  <p>
    Personally, I get a lot of mileage out of learning vocab out of context first and then "stumbling" upon it while reading (I had a whole class that used this method once and it was great). If you are like this, or you'd like to try it, I suggest learning whatever vocab you want to learn out of context before you try to read through the text, and reading may cement its meaning better for you.
  </p>
  <p>
    The vocabulary is ordered in decreasing frequency (most frequent words at the top). I used the <a href="http://www.manythings.org/japanese/words/leeds/">Leeds corpus</a> for the ratings (although I'm currently researching better options for this that contain more words!). If a phrase was a compound or inflected word, its frequency is listed as 0 with a reason. If the phrase is a compound but one of the seed words is in the frequency corpus, I included it in the proper place in the list. If the word is not on the top 15,000 most frequent words, it is given a frequency of 0 and listed as "too infrequent." Vocab is highlighted into rough frequency bins on the table. I suggest that you learn words that are about your level, but just refer to the gloss for more advanced words (many beginning students try to learn everything at once, but there's plenty of time to learn words you'll only come across once in a while!).
  </p>
  <p>
    I listed links for the grammar skills needed to completely understand this text. As with the vocab, learning these ahead of time might prime you nicely for cementing the knowledge when you read the text. Or you can just use them as a reference and let the text wash over you, if that's more your style. It's not quite as easy to judge frequency with grammar (you can cross reference JLPT lists if you'd like, but not everything is on the JLPT!), so just learn what seems interesting or useful to you.
  </p>
  <p>
    Depending on your proficiency level, I suggest you ignore words or grammar points that are much more advanced or infrequent than you generally encounter right now. You can always come back to these materials at a later time and delve deeper. Remember that language learning is about getting comfortable with ambiguity, uncertainty, and NOT knowing everything right now. Get SOMETHING out of it and you have succeeded.
  </p>
  <p>
    I've included a rough translation of the text. I did it kind of quickly and made it more literal than smooth/idiomatic on purpose, as I find this helps me learn better. It's a reference tool, not a bible :)
  </p>
  <p>
    Try reading aloud or listening to the audio (if it works!). I find the full kanji version easier to read, but you might prefer the all-hiragana version.
  </p>
  <p>
    Take notes, make flashcards, read about grammar, and feel free to ask questions!
  </p>
  <h2>Text Links</h2>
    <ul>
      <li>
        <a href="http://hukumusume.com/douwa/0_6/jap_pc/01/04.htm">幽霊の袖かけまつ (hiragana only)</a>
      </li>
      <li>
        <a href="http://hukumusume.com/douwa/pc/jap/01/04.htm">幽霊の袖かけまつ (with kanji)</a>
      </li>
    </ul>
  <h2>Vocab List</h2>
  <table>
    <caption class="hidden">
    Vocab List
    </caption>
    <thead>
      <tr>
        <th scope="col">
          Kanji
        </th>
        <th scope="col">
          Reading
        </th>
        <th scope="col">
          English Gloss
        </th>
        <th scope="col">
          Frequency
        </th>
        <th scope="col">
          Reason for N/A Frequency
        </th>
        </thead>
        <tbody>
        {% for item in site.data.jreaders.jreader1 %}
        {% if item.frequency > 50 %}
        <tr class="high-frequency">
        {% elsif 10 <= item.frequency <= 50 %}
        <tr class="mid-frequency">
        {% elsif 1 < item.frequency < 10 %}
        <tr class="low-frequency">
        {% elsif 0 < item.frequency < 1 %}
        <tr class="very-low-frequency">
        {% else %}
        <tr class="not-applicable">
        {% endif %}
          <td>
            {{ item.kanji }}
          </td>
          <td>
            {{ item.reading }}
          </td>
          <td>
            {{ item.english }}
          </td>
          <td>
            {{ item.frequency }}
          </td>
          <td>
            {{ item.reason }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  <h2>Grammar Used in This Text</h2>
  <ul>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/teform">てform</a></li>
    <li>〜とするか - guess I'll do ~: <a href="https://www.kanshudo.com/grammar/%E3%81%A8%E3%81%99%E3%82%8B">related to this grammar point</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/past_tense">past tense</a></li>
    <li><a href="https://www.wasabi-jpn.com/japanese-grammar/how-conditionals-work/">conditionals</a></li>
    <li><a href="http://www.guidetojapanese.org/negverb2.html">〜ず</a> special negative</li>
    <li><a href="https://japanesetest4you.com/flashcard/learn-jlpt-n3-grammar-%E3%82%8F%E3%81%91%E3%81%AB%E3%81%AF%E3%81%84%E3%81%8B%E3%81%AA%E3%81%84-wake-niwa-ikanai/">〜わけにもいかない</a></li>
    <li><a href="http://www.guidetojapanese.org/favor.html">giving/receiving verbs</a></li>
    <li>〜でもある（の/ですか) is there ~ or something? (椅子でもあるのか - what is that supposed to be, a chair or something?)</li>
    <li><a href="http://www.guidetojapanese.org/certainty.html">certainty constructions</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/desire">expressing desires</a></li>
    <li><a href="https://www.fluentu.com/blog/japanese/japanese-keigo/">honorifics</a> - this is a HUGE topic</li>
    <li><a href="http://www.guidetojapanese.org/requests.html">requests</a></li>
    <li><a href="https://jlptsensei.com/learn-japanese-grammar/%E3%81%93%E3%81%A8%E3%81%AB%E3%81%AA%E3%82%8B-koto-ni-naru/">〜ことになる</a></li>
    <li><a href="https://japanesetest4you.com/flashcard/learn-jlpt-n1-grammar-%E3%82%93%E3%81%8C%E3%81%9F%E3%82%81-n-ga-tame/">〜が為</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/potential">potential forms</a></li>
    <li><a href="http://www.guidetojapanese.org/timeaction2.html">ながら</a></li>
    <li><a href="http://maggiesensei.com/2010/03/13/requested-lesson-%E3%80%8C%E3%80%9C%E3%81%A6%E3%81%84%E3%81%8F%EF%BC%8B%E3%80%9C%E3%81%A6%E3%81%8F%E3%82%8B%E3%80%8Dteiku-tekuru/">〜て行く、〜て来る</a></li>
    <li><a href="https://japanesetest4you.com/flashcard/learn-japanese-grammar-42/ and http://maggiesensei.com/2017/04/06/new-how-to-use-v%E3%81%A6%E3%81%8A%E3%81%8F-te-oku/">〜ておく</a></li>
    <li><a href="http://www.guidetojapanese.org/learn/grammar/causepass">passive forms</a></li>
    <li><a href="http://wordgrammar.net/jlpt-n4-grammar-%E3%82%88%E3%81%86%E3%81%AB%E3%81%AA%E3%82%8B-you-ni-naru-explanation-and-examples/">〜様になる</a></li>
  </ul>

  <h2>Translation</h2>
  <h3>The Pine of the Ghost Sleeve</h3>
  <p>Long, long ago, a fisherman brought his boat out on the river to do some night fishing. However, for some reason, he couldn't catch a single fish that day.</p>
  <p>"I guess I'll give up for tonight and go home."</p>
  <p>As soon as the fisherman thought this, there was a tug on the line. It was a rare big one.</p>
  <p>He was delighted and began to reel it in, when...</p>
  <p>"...Huh? Gyaahhhhh!"</p>
  <p>There was a dead girl's body at the end of the fishing line.</p>
  <p>"W-waahhh, namuamidabutsu, namuamidabutsu (a Buddhist chant. Cultural note: Japanese people generally follow the naturalist Shinto religion, but observe Buddhist traditions around birth and death)."</p>
  <p>There was no way the fisherman could just throw the corpse away, so he brought it into his boat.</p>
  <p>"Ahhh, the poor thing..."</p>
  <p>The fisherman carried the girl's body to a nearby Buddhist temple and had the priest perform a funeral service for her.</p>
  <p>Starting the next night, the girl's ghost began to appear under an old pine tree at the temple.</p>
  <p>"We buried her out of the kindness of our hearts (the implication here is, why tf is she still hanging around?). I wonder if she still bears a grudge about something in this world or something," the priest thought, finding it mysterious. As he thought this, the girl’s ghost appeared and said,</p>
  <p>"Thank you for yesterday. I want to go straight to Heaven (there's a typo here in the kanji version, should be 行きたい), but I have one regret...Will you listen?" she said in a faint voice.</p>
  <p>"Please tell me, whatever it is."</p>
  <p>"Okay. Actually, I was supposed to marry the person I love, but because my family is poor, they couldn't make a bridal kimono for me. So the proposal went to waste."</p>
  <p>"That must have been very painful. It may be too late now, but I'll arrange a bridal kimono for you."</p>
  <p>When he said that, the ghost wiped her tears and disappeared.</p>
  <p>The next day, the priest bought the kimono as promised, and hung it on one of the branches of the old pine tree. In the middle of the night, the girl's ghost appeared, changed into the kimono, and left. (Ending this sentence with でしょう implies that no one saw it, but the speaker infers that that's probably what happened, because...) The bridal kimono was gone, and in its place on the branch was a sleeve from the kimono the girl had drowned in.</p>
  <p>From that day on, that pine tree was called the "Pine of the Ghost Sleeve."</p>


