---
layout: post
title: Japanese Readers Series 2 - Chounan, Oheya wo Souji suru
tags: japanesereaders blogs 〜になる adverbs ているform てform こちら・そちら・あちら がある・あります compoundsentences makingrequests の が verb+ても しか くせに みたい ～たり expressinganexcesswithも こんな・そんな・あんな kinshipterms pasttense ～なりに conditionals desireandsuggestions も expressingcertainty potentialforms のような まるで しまう non-butでも tryingthings nominalizers 〜て行く 〜て来る で intermediate
---
<h2>Introduction</h2>
<p>For background/how to use this series, see the <a href="{% post_url 2019-09-16-yuurei-no-sodekake %}">first post</a>.</p>

<p>This time, we have a long blog post to read. There are lots of really funny blogs by moms in Japan. The top-rated ones often are full manga blogs or incorporate manga panels into a text blog post. This one is one of the latter. 子育て ("Raising Children") is the most popular blog category on <a href="https://ameblo.jp">Ameba</a>.</p>

<h2>Text Link</h2>
<ul>
	<li><a href="https://ameblo.jp/saigo-3153/entry-12525954634.html">長男、汚部屋をそうじする</a></li>
</ul>

<h2>Vocab List</h2>
<table>
    <caption class="hidden">
    Vocab List
    </caption>
    <thead>
      <tr>
        <th scope="col">
          Kanji
        </th>
        <th scope="col">
          Reading
        </th>
        <th scope="col">
          English Gloss
        </th>
        <th scope="col">
          Frequency
        </th>
        <th scope="col">
          Notes
        </th>
        </thead>
        <tbody>
        {% for item in site.data.jreaders.jreader3 %}
        {% if item.frequency > 50 %}
        <tr class="high-frequency">
        {% elsif 10 <= item.frequency <= 50 %}
        <tr class="mid-frequency">
        {% elsif 1 < item.frequency < 10 %}
        <tr class="low-frequency">
        {% elsif 0 < item.frequency < 1 %}
        <tr class="very-low-frequency">
        {% else %}
        <tr class="not-applicable">
        {% endif %}
          <td>
            {{ item.kanji }}
          </td>
          <td>
            {{ item.reading }}
          </td>
          <td>
            {{ item.english }}
          </td>
          <td>
            {{ item.frequency }}
          </td>
          <td>
            {{ item.notes }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

<h2>Grammar List</h2>
<ul>
	<li><a href="http://maggiesensei.com/2010/12/10/%E3%81%A8%E3%81%AA%E3%82%8B-vs-%E3%81%AB%E3%81%AA%E3%82%8B%E3%80%80-to-naru-vs-ni-naru/">〜になる</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/complete/adverbs">adverbs</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/teform">ている form</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/teform">てform</a></li>
	<li><a href="http://mkikuchi.faculty.gatech.edu/WebCTVista/JAPN1001/contents/Lesson05/grammar05.html">こちら・そちら・あちら</a></li>
	<li><a href="https://learnjapanesedaily.com/japanese-grammar-%E3%81%8C%E3%81%82%E3%82%8A%E3%81%BE%E3%81%99-gaarimasu.html">がある・あります</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/compound">compound sentences</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/requests">making requests</a></li>
	<li><a href="http://www.guidetojapanese.org/particles3.html">の</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/category/grammar-guide/basic-grammar/">が</a></li>
	<li><a href="http://maggiesensei.com/2015/06/22/how-to-use-%E3%81%A6%E3%82%82-temo/">verb + ても</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/amount#Indication_that_there8217s_nothing_else_using">しか</a></li>
	<li><a href="http://maggiesensei.com/2013/09/24/%E3%80%9C%E3%81%8F%E3%81%9B%E3%81%AB-kuseni-from-facebook-mini-lessons/">くせに</a></li>
	<li><a href="http://www.guidetojapanese.org/similar.html">みたい</a></li>
	<li><a href="http://maggiesensei.com/2013/09/29/how-to-use-%E3%80%9C%E3%81%9F%E3%82%8Atari-%E3%81%9F%E3%82%8A%E3%81%97%E3%81%A6tarishite/">～たり</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/complete/more_amounts#Expressing_an_excess_with">expressing an excess with も</a></li>
	<li><a href="http://maggiesensei.com/2015/02/04/how-to-use-%E3%81%93%E3%82%93%E3%81%AAkonna-%E3%81%9D%E3%82%93%E3%81%AAsonna-%E3%81%82%E3%82%93%E3%81%AAanna/">こんな・そんな・あんな</a></li>
	<li><a href="https://www.thejapanshop.com/blogs/news/family-words-and-terms-in-japanese-explained">kinship terms</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/past_tense">past tense</a></li>
	<li><a href="http://learnjapanese.becauseofdreams.com/2016/10/14/%E3%81%AA%E3%82%8A%E3%81%AB-as-in-ones-own-waystyle/">～なりに</a></li>
	<li><a href="https://www.wasabi-jpn.com/japanese-grammar/how-conditionals-work/">conditionals</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/desire">desire and suggestions</a></li>
	<li><a href="http://maggiesensei.com/2013/10/08/japanese-particle-%E3%82%82mo-to-emphasize-the-number-%E3%80%8C%E4%B8%80%E2%98%85%E3%82%82%E3%80%8D/">も</a></li>
	<li><a href="http://www.guidetojapanese.org/certainty.html">expressing certainty</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/potential">potential forms</a></li>
	<li><a href="http://maggiesensei.com/2012/04/03/request-lesson-%E3%82%88%E3%81%86you/">のような</a></li>
	<li><a href="http://www.jgram.org/pages/viewOne.php?tagE=marude">まるで</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/unintended">しまう</a></li>
	<li><a href="https://www.thejapanesepage.com/100-grammar-points/temo/">non-but でも</a></li>
	<li><a href="http://www.guidetojapanese.org/learn/grammar/try">trying things</a></li>
	<li><a href="https://www.wasabi-jpn.com/japanese-grammar/nominalizers-koto-and-no/">nominalizers</a></li>
	<li><a href="http://maggiesensei.com/2010/03/13/requested-lesson-%E3%80%8C%E3%80%9C%E3%81%A6%E3%81%84%E3%81%8F%EF%BC%8B%E3%80%9C%E3%81%A6%E3%81%8F%E3%82%8B%E3%80%8Dteiku-tekuru/">〜て行く、〜て来る</a></li>
	<li><a href="http://www.punipunijapan.com/japanese-particle-de/">で</a></li>
</ul>

<h2>Translation</h2>
<h3>My Oldest Son Cleans His Dirty Room</h3>

<p>Welcome (*^▽^*)</p>
<p>This is the blog comic of a freewheeling 50-something mother about her daily life with her sons. One is a high school senior and one is a sophomore at vocational school. </p>

<p>If this is your first time here, you can read a little bit about my sons here. </p>

<p>(Link) Firstly</p>

<p>Panel:<br>
Narration: My oldest son, who has been living in filth,<br>
[A man who starts with the right outfit!]<br>
SFX: knot!<br>
Narration: started cleaning!<br>
</p>

<p>Even though he would only ever clean halfheartedly if I told him to do it... (He'd clean and I'd be like "Huh? You're done?") I tried coaxing him in various ways but it never worked. So I gave up, thinking he was just afflicted with an inability to clean.</p>

<p>
Panel:<br>
Narration: Wow! Even though he would never do it no matter how many times I told him to...<br>
SFX: rustle rustle<br>
Narration: He's been (rarely?) influenced to tidy up by Papa Rea!<br>
Label: Dad<br>
</p>

<p>With just a talk from Papa Rea (although it did take 2-3 rounds of negotiation) my oldest son started actually, really cleaning as an oldest son should. When push comes to shove, Papa Rea becomes my trump card. He's really reliable at times like this.</p>

<p>For a while, he just cleaned silently, but after a little bit...</p>

<p>Panel:<br>
Son: Mom, there's something I need your help with.<br>
SFX: peek<br>
Son: [It's something only you can do...]<br>
Mom: Huh? What is it? What is it? [Leave it to me!] <br>
Arrow: Happy<br>
</p>

<p>
Panel:<br>
Son: There's a dead moth in that cardboard box. Do something about it?<br>
Son: [I-I'm going over here.]<br>
Mom: [Ehhhh?] ...<br>
Mom: He called me over because of a bug.<br>
</p>

<p>My kids hate moths the most. </p>

<p>When I was a kid, I hated moths the most, too. (Now, I'm okay as long as they're not too big). I wonder if I passed those genes on to them?</p>

<p>I wonder if he'll be okay living alone?</p>

<p>I hated cockroaches too, but when you live alone you just have to deal with it yourself! I realize now I've leveled up quite a bit.</p>

<p>I want him to hurry up and live alone and have some new experiences.</p>

<p>Sachiopia Information</p>
<p>I took it in my head to go to Sachiopia Coffee today. I suddenly craved Hiraoka-san's croquettes...</p>

<p>Hiraoka-san's blog is over here (link).</p>

<p>These are the croquettes from Hiraoka-san's parents' house. You can really taste the ingredients.</p>

<p>This is the coffee-flavored "boondocks pudding." It wasn't too sweet, so it was just perfect, and didn't make me feel guilty for consuming too many calories.</p>

<p>This is the "Nishiharu Coffee" that was sold out last time so I couldn't get it. It's such a pretty color, just like iced tea.</p>

<p>It does taste like coffee, but it's refreshing so it kind of feels like iced tea when you drink it. Even if you don't like coffee, you could probably drink this.</p>

<p>It was delicious, so I tried making some gum syrup to make my own Nishiharu Coffee. </p>

<p>I'm going to leave it overnight. I'm looking forward to using it tomorrow!</p>

<p>Orange + rosemary + gum syrup</p>

<p>And then on my way home....as soon as I left the restaurant, I ran into a friend in front! I was very surprised! Here's an article about that friend.</p>

<p>My friend came!</p>
