<!DOCTYPE html>
<html>
  <head>
      <title>momomori-eki.net</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans JP">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
  </head>
  <body>
    <div class="big-triptych-container header-menu">
      <div class="big-triptych-panel">
          <div class="little-triptych-panel">
            <a href="/translations"><img src="/assets/img/translations.png" class="img-responsive header-image"></a>
          </div>
          <div class="little-triptych-panel">
            <a href="/language"><img src="/assets/img/language.png" class="img-responsive header-image"></a>
          </div>
          <div class="little-triptych-panel">
            <img src="/assets/img/art.png" class="img-responsive header-image">
          </div>
      </div>
      <div class="big-triptych-panel-center">
          <a href="/"><img src="/assets/img/momomorieki-sign.png" class="img-responsive header-image"></a>
      </div>
      <div class="big-triptych-panel">

          <div class="little-triptych-panel">
            <a href="/garden"><img src="/assets/img/garden.png" class="img-responsive header-image"></a>
          </div>
          <div class="little-triptych-panel">
            <img src="/assets/img/links.png" class="img-responsive header-image">
          </div>
          <div class="little-triptych-panel">
            <a href="/about"><img src="/assets/img/about.png" class="img-responsive header-image"></a>
          </div>

      </div>
    </div>

    <div class="main-content">
      {{ content }}
    </div>
  </body>
</html>